@model OnlineWatchStore.Domain.Product


<link rel="stylesheet" href="~/css/ProductPage/product.css">

<div class="container">
    <div class="row justify-content-around">
        <div class="col-5 slider-wrapper">
            <div id="carouselExampleControls" class="carousel border border-secondary border-3 slide item-responsive" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://avro-ra.ru/upload/iblock/b7a/b7aaff0e12b48c5b5f10064c17afce5f.jpg" class="img-fluid d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.brandfield.com/media/catalog/product/cache/image/265x/9df78eab33525d08d6e5fb8d27136e95/4/0/4053858414495.jpg" class="img-fluid d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.brandfield.com/media/catalog/product/cache/image/265x/9df78eab33525d08d6e5fb8d27136e95/4/0/4053858414495.jpg" class="img-fluid d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-4 info-container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Описание
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      @Model.Description
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Характеристики
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Здесь будут какие-то характеристики товара
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      История
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Здесь будет какая-то интересная история, не обязательно о часах
                    </div>
                  </div>
                </div>
            </div>
            <div class="d-grid gap-2 margin-top-10">
                <button class="btn btn-primary" type="button">@Model.PriceRub ₽</button>
              </div>
        </div>
    </div>
</div>