@{
    ViewData["Title"] = "Admin";
}

<style type='text/css'>
    a.asp-link {
      display: block;
    }
</style>

<a class="asp-link" asp-controller="Admin" asp-action="Categories">Перейти к списку категорий</a>
<a class="asp-link" asp-controller="Admin" asp-action="Products">Перейти к списку продуктов</a>