<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout/shared.css">
    <link rel="stylesheet" href="~/css/Layout/header.css">
    <link rel="stylesheet" href="~/css/Layout/icons.css">
    <link rel="stylesheet" href="~/css/Layout/footer.css">
    <link rel="stylesheet" href="~/css/Layout/authorizeForm.css">
    <link rel="stylesheet" href="~/scss/Layout/style.scss">
    
    <title>WatchSore - @ViewData["Title"]</title>

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <script src="~/lib/jquery-latest.js" type="text/javascript"></script>
    <title>Document</title>
</head>
<body>

    <div class="form form--inactive">
      <div class="form-toggle"></div>
        <div class="form-panel one">
          <div class="form-header">
            <h1>Вход в аккаунт</h1>
          </div>
          <div class="form-content">
            <form>
              <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" required="required"/>
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required="required"/>
              </div>
              <div class="form-group">
                <label class="form-remember">
                  <input type="checkbox"/>Запомнить меня
                </label><a class="form-recovery" href="#">Забыли пароль?</a>
              </div>
              <div class="form-group">
                <button type="submit">Вход</button>
              </div>
            </form>
          </div>
        </div>
        <div class="form-panel two">
          <div class="form-header">
            <h1>Регистрация</h1>
          </div>
          <div class="form-content">
            <form>
              <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" required="required"/>
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required="required"/>
              </div>
              <div class="form-group">
                <label for="cpassword">Подтверждение пароля</label>
                <input type="password" id="cpassword" name="cpassword" required="required"/>
              </div>
              <div class="form-group">
                <label for="email">Электронный адрес</label>
                <input type="email" id="email" name="email" required="required"/>
              </div>
              <div class="form-group">
                <button type="submit">Регистрация</button>
              </div>
            </form>
          </div>
        </div>
    </div>

    <div class="wrapper">
        <header class="navbar">
            <div class="navbar-item company-name">
                <a class="inline-block link-without-decoration pretty-text white-hover-text large-text" asp-area="" asp-controller="Home" asp-action="Index">WatchStore</a>
            </div>
            <div class="align-center">
                @{
                    // Const home page name. Nav bar checks name of page in @RenderBody() and choose
                    // nav bar's link to the sections on the home page (#id/asp-action="id").
                    const string homePageName = "Home Page";

                    if ((string) ViewData["Title"] == homePageName)
                    {
                        <div class="navbar-item">
                            <a class="scrollto inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#banner">Главная</a>
                        </div>
                        <div class="navbar-item">
                            <a class="scrollto inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#products_collections">Коллекции</a>
                        </div>
                        <div class="navbar-item">
                            <a class="scrollto inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#about">О нас</a>
                        </div>
                    }
                    else
                    {
                        <div class="inline-block pretty-text normal-text">@ViewData["Title"]</div>
                    }
                }
            </div>
            <div class="navbar-item basket-login-logout">
                <a id="basketIcon" class="icon" style="background-image: url(images/Layout/basket_ultra.ico);" href="#">
                </a><a id="userIcon" class="icon open" style="background-image: url(images/Layout/user_ultra.ico);" href="#">
                </a>
            </div>
        </header>
        
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="contact-data-wrapper">
            <div class="pretty-text small-text inline-block">Телефон: 8-(123)-456-78-90</div>
            <div class="pretty-text small-text inline-block margin-horizontal-auto">Эл адрес: example@example.com</div>
            <div class="pretty-text small-text inline-block">Адрес: Ул Какая-то, д 1</div>
        </div>
        <div class="social-networks-icons-wrapper">
            <a id="vkIcon" class="icon" style="background-image: url(images/Layout/vk_ultra.ico);" href="https://vk.com/id0"></a>
            <a id="facebookIcon" class="icon" style="background-image: url(images/Layout/facebook_ultra.ico);" href="https://ru-ru.facebook.com/"></a>
            <a id="instagramIcon" class="icon" style="background-image: url(images/Layout/instagram_ultra.ico);" href="https://www.instagram.com/"></a>
        </div>
    </div>
<script src="~/js/Layout/icons.js"></script>
<!-- Плавная прокрутка до якорей -->
<script>
jQuery(document).ready(function() {
jQuery("a.scrollto").click(function () {
elementClick = jQuery(this).attr("href")
destination = jQuery(elementClick).offset().top - 60;
jQuery("html:not(:animated),body:not(:animated)").animate({scrollTop: destination}, 1000);
return false;
});
});
</script>
<script src="~/js/Layout/index.js"></script>
<script src="~/js/Layout/button.js"></script>
</body>
</html>