<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout/shared.css">
    <link rel="stylesheet" href="~/css/Layout/header.css">
    <link rel="stylesheet" href="~/css/Layout/icons.css">
    <link rel="stylesheet" href="~/css/Layout/footer.css">
    <title>WatchSore - @ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="navbar">
            <div class="navbar-item company-name">
                <a class="inline-block link-without-decoration pretty-text white-hover-text large-text" href="#">WatchStore</a>
            </div>
            <div class="align-center">
                <div class="navbar-item">
                    <a class="inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#">Главная</a>
                </div>
                <div class="navbar-item">
                    <a class="inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#">Коллекции</a>
                </div>
                <div class="navbar-item">
                    <a class="inline-block link-without-decoration pretty-text normal-text white-hover-text" href="#">О нас</a>
                </div>
            </div>
            <div class="navbar-item basket-login-logout">
                <a id="basketIcon" class="icon" style="background-image: url(images/Layout/basket_ultra.ico);" href="#">
                </a><a id="userIcon" class="icon" style="background-image: url(images/Layout/user_ultra.ico);" href="#">
                </a>
            </div>
        </header>

        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="contact-data-wrapper">
            <div class="pretty-text small-text inline-block">Телефон: 8-(123)-456-78-90</div>
            <div class="pretty-text small-text inline-block margin-horizontal-auto">Эл адрес: example@example.com</div>
            <div class="pretty-text small-text inline-block">Адрес: Ул Какая-то, д 1</div>
        </div>
        <div class="social-networks-icons-wrapper">
            <a id="vkIcon" class="icon" style="background-image: url(images/Layout/vk_ultra.ico);" href="#"></a>
            <a id="facebookIcon" class="icon" style="background-image: url(images/Layout/facebook_ultra.ico);" href="#"></a>
            <a id="instagramIcon" class="icon" style="background-image: url(images/Layout/instagram_ultra.ico);" href='#'></a>
        </div>
    </div>
    <script src="~/js/Layout/icons.js"></script>
</body>
</html>