.slider-wrapper {
    padding: 50px 10px 10px 10px;
}

.info-container {
    padding: 70px 10px 10px 10px;
}

.accordion {
    background-color: antiquewhite;
}

.margin-top-10 {
    margin-top: 10px;
}

.carousel {
    height: 526px;
}

.carousel-inner {
    height: 100%;
}

.product-images {
    background-color: azure;
    padding: 10px;
}