.flex-box {
    display: flex;
}

.productDescriptionWrapper {
    width: 47%;
    height: 500px;
    padding-top: 80px;
    color: rgb(254, 255, 196);
    font-size: 20px;
    margin-left: 8%;
}

.productDescriptionWrapper .block {
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 10px;
    background-color: rgb(134, 123, 123);
}

.productDescriptionWrapper .block:first-child {
    margin-top: 0px;
}

.productDescriptionWrapper .block:last-child {
    margin-top: 20px;
    background-color:rgb(119, 107, 107);
}

.block:hover { cursor: pointer; }

.blockSubtitle {
    padding-left: 20px;
    padding-top: 12px;
}

.productDescriptionWrapper .selectedBlock {
    height: 60%;
    background-color: rgb(80, 71, 71);
}

.hidenBlock {
    display: none;
}

.textBlockWrapper {
    width: 94%;
    margin-left: 3%;
    margin-top: 1%;
    height: 80%;
    background-color: white;
    border: gray 1.5px solid;
}

.textBlock {
    text-align: justify;
    font-size: 90%;
    padding: 10px;
    color: gray;
    display: inherit;
    height: 90%;
    overflow: auto;
}

.buyButton {
    display: block;
    text-decoration: none;
}

.buyButton:hover {
    background-color: rgb(80, 71, 71);
}

.buyButtonText {
    color: rgb(254, 255, 196);
    padding-top: 12px;
    text-align: center;
}